*{margin: 0;padding: 0;list-style: none;}
h1, h2, h3, h4, h5, a, p{font-family: 'Montserrat', sans-serif;}
h6{font-family: 'Bebas Neue', cursive;}

#page{overflow: hidden;}

/* Header Start */
.header_section{width: 100%;height: auto;background: linear-gradient(180deg, #424061 0%, #2F2E3C 100%);}
.header_container{padding: 25px 0;}

.logo{width: 100%;position: relative;}
.logo a img{width: 200px;height: auto;object-fit: contain;object-position: center;position: absolute;z-index: 9;transform: scale(1.0);transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}
.logo a:hover img{transform: scale(1.1);transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}

.header_menu ul{list-style: none;margin: 0;text-align: right;}
.header_menu ul li{display: inline-block;}
.header_menu ul li a{text-decoration: none;color: #686583;font-size: 14px;font-weight: 700;line-height: 17px;padding: 10px 20px;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}
.header_menu ul li a:hover{background-color: #686583;color: #fff;border-radius: 20px;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}

.rsp_menu{display: none;}

/* Banner-Section Start */
.banner_section{width: 100%;height: 100%;position: relative;}
.banner_img img{width: auto;height: 100%;position: absolute;top: 0;left: 0;transform: scale(1.3);z-index: -1;object-fit: cover;object-position: center;}
.rsp_img{display: none;}

.banner_text{width: 100%;padding-top: 100px;padding-bottom: 25px;}
.banner_text h1{font-size: 40px;font-weight: 400;color: #2E2F3B;line-height: 49px;letter-spacing: -0.02em;margin-bottom: 30px;}
.banner_text h2{font-size: 30px;font-weight: 700;color: #2E2F3B;line-height: 37px;letter-spacing: -0.02em;margin-bottom: 60px;}
.bnr_btn{width: 100%;text-align: center;background: linear-gradient(189.82deg, #FFD236 6.83%, #FF8F3D 92.26%);border-radius: 20px;padding: 20px 10px;cursor: pointer;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}
.bnr_btn a{text-decoration: none;font-size: 30px;font-weight: 700;line-height: 37px;text-align: center;letter-spacing: -0.02em;color: #fff;}
.bnr_btn:hover{background: linear-gradient(180deg, #424061 0%, #2F2E3C 100%);transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}

/* Home-Contest-Section Start */
.contest_section{margin-top: 150px;margin-bottom: 100px;}

.open_contest{margin: 20px 0;}
.open_contest h3{font-size: 30px;font-weight: 700;color: #2E2F3B;line-height: 37px;margin-bottom: 30px;}
.contest_list_h{list-style: none;padding: 0;margin-bottom: 30px;}
.contest_list_h li{margin: 20px 0;}

.opn_cnts img{width: 40px;height: 40px;display: inline-block;object-fit: cover;object-position: center;border-radius: 10px;}
.opn_cnts h5{display: inline-block;margin-left: 12px;font-size: 16px;font-weight: 700;line-height: 20px;color: #2E2F3B;}
.contest_btn a{text-decoration: none;font-size: 16px;font-weight: 700;line-height: 20px;color: #fff;background: linear-gradient(180deg, #424061 0%, #2F2E3C 100%);border-radius: 20px;padding: 10px 20px;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}
.contest_btn a:hover{background: linear-gradient(189.82deg, #FFD236 6.83%, #FF8F3D 92.26%);transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}

/* Footer Start */
.footer_section{padding-top: 50px;padding-bottom: 12px;background: linear-gradient(180deg, #424061 0%, #2F2E3C 100%);}

.ovr_txt{width: 49%;display: inline-block;vertical-align: top;}
.ovr_txt h5{color: #fff;font-size: 14px;font-weight: 700;line-height: 17px;text-transform: uppercase;}
.cvr_lst{padding: 0;}
.cvr_lst li a{text-decoration: none;color: #686583;font-size: 14px;font-weight: 600;line-height: 17px;}
.flw_icn li{width: 20px;display: inline-block;}

.ftr_txt p{color: #686583;font-size: 12px;font-weight: 600;line-height: 15px;text-align: right;}
.ftr_logo a img{width: 145px;height: 90px;object-fit: contain;object-position: center;}

.ftr_cpy{text-align: center;}
.ftr_cpy p{font-size: 10px;font-weight: 600;line-height: 12px;color: #686583;margin: 0;}

/* Open-Contest-Page Start */
.open_contest_section{padding-top: 125px;padding-bottom: 25px;}

.contest_head{margin-bottom: 30px;}
.contest_heading h1{font-size: 30px;font-weight: 700;line-height: 37px;color: #2E2F3B;}
.contest_share{text-align: right;}
.contest_share a{text-decoration: none;}

.contest_col{margin: 12px 0;}
.opn_cntest_head{background: linear-gradient(0deg, #403E5C, #403E5C), #E6E5F3;border-top-left-radius: 20px;border-top-right-radius: 20px;}
.opn_cntest_head h3{font-size: 20px;font-weight: 700;line-height: 24px;color: #fff;margin-bottom: 0;padding: 20px 20px 15px 22px;}
.opn_cntest_img img{width: 100%;height: 221px;object-fit: cover;object-position: center;}
.opn_cntest_ftr{padding: 20px 15px;background: linear-gradient(160.14deg, #EFEEFB 17.25%, #B9B7CA 90.71%);border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}
.opc_ftr_cont{width: 49%;display: inline-block;}
.opc_ftr_cont h4{font-size: 12px;font-weight: 700;line-height: 15px;color: #9693AC;}
.opc_ftr_cont h5{font-size: 14px;font-weight: 700;line-height: 17px;color: #403E5C;}
.opc_ftr_cont_s{text-align: right;}
.opn_cntest_btn{text-align: center;background: linear-gradient(189.82deg, #FFD236 6.83%, #FF8F3D 92.26%);border-radius: 20px;padding: 20px 10px;margin-top: 30px;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}
.opn_cntest_btn a{text-decoration: none;color: #fff;font-size: 24px;font-weight: 700;line-height: 24px;}
.opn_cntest_btn:hover{background: linear-gradient(180deg, #424061 0%, #2F2E3C 100%);transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}

.scroll_top{text-align: center;padding-top: 10px;}
.scroll_top a{text-decoration: none;position: relative;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}
.scroll_top a img{transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}
.scroll_top a p{font-size: 14px;font-weight: 700;line-height: 17px;color: #403E5C;}
.scroll_top a:hover img{transform: scale(1.1);transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}

/* Contest-Detail-Page Start */
.contest_stand h2{font-size: 20px;font-weight: 600;line-height: 24px;color: #2E2F3B;margin-bottom: 30px;}

.rank_div{margin-bottom: 20px;}
.rnk_div{display: inline-block;vertical-align: top;}
.rnk_img img, .rnk_det_img img{width: 120px;height: 170px;object-fit: contain;object-position: center;border-radius: 20px;}
.rank_txt{padding-left: 20px;line-height: 50px;}
.rank_txt h3{font-size: 30px;font-weight: 700;line-height: 37px;color: #2E2F3B;}
.rank_txt h4, .rank_txt h5{font-size: 20px;font-weight: 700;line-height: 24px;color: #2E2F3B;}
.rank_txt a, .rank_txt h4 a{text-decoration: none;font-size: 20px;font-weight: 700;line-height: 24px;color: #fff;background: linear-gradient(180deg, #424061 0%, #2F2E3C 100%);border-radius: 20px;padding: 8px 22px;}
.rank_txt h4{margin-bottom: 22px;}
.rank_txt h4 a{margin-left: 9px;}
.rank_txt h5 a{text-decoration: none;font-size: 20px;font-weight: 700;line-height: 24px;color: #fff;background: linear-gradient(189.82deg, #FFD236 6.83%, #FF8F3D 92.26%);border-radius: 20px;padding: 8px 22px;margin-left: 16px;}
.fnl_trh{margin-bottom: 12px;}
.fnl_trh h3{display: inline-block;}
.fnl_trh img{display: inline-block;width: 47px;vertical-align: inherit;}


.voting_cotnainer{border-top: 1px solid rgba(46, 47, 59, 0.15);padding-top: 30px;padding-bottom: 30px;}
.votin_meter{background: linear-gradient(180deg, #FFD43D 4.67%, #FF8F3D 100%);border-radius: 20px;padding: 20px;margin-bottom: 30px;}
.voting_txt{position: relative;}
.voting_txt h3{font-size: 30px;font-weight: 700;line-height: 37px;color: #3B3A53;margin: 0;position: absolute;top: 50%;transform: translateY(-50%);}
.vte_txt_div{text-align: right;}
.vte_dv{display: inline-block;vertical-align: top;text-align: center;background-color: #fff;border-radius: 10px;padding: 10px;margin: 0 10px;}
.vte_dv h4, .vte_dv h5{font-size: 50px;font-weight: 700;line-height: 50px;color: #3B3A53;}

.prize_section h3{font-size: 30px;font-weight: 700;line-height: 37px;color: #2E2F3B;}
.prize_section p{font-size: 20px;font-weight: 600;line-height: 24px;color: #2E2F3B;margin-bottom: 20px;}

.priz_div{background: linear-gradient(180deg, #424061 0%, #2F2E3C 100%);box-shadow: 0px 4px 30px rgba(21, 24, 31, 0.25);border-radius: 20px;padding: 25px 40px;text-align: center;margin-bottom: 20px;}
.priz_div img{width: 50px;height: 65px;object-fit: contain;object-position: center;}
.priz_div h4{font-size: 30px;font-weight: 700;line-height: 37px;color: #fff;margin-top: 10px;margin-bottom: 20px;}
.trp_btn{background: linear-gradient(189.82deg, #FFD236 6.83%, #FF8F3D 92.26%);border-radius: 20px;padding: 20px 0;}
.trp_btn a{text-decoration: none;font-size: 40px;font-weight: 700;line-height: 49px;color: #fff;}

.entrants_section{margin-bottom: 50px;}
.entrants_container{border-top: 1px solid rgba(46, 47, 59, 0.15);padding-top: 30px;}
.entrants_container h4{font-size: 20px;font-weight: 600;line-height: 24px;color: #2E2F3B;margin-bottom: 20px;}

.entra_div{margin: 20px 0;}
.ent_div{text-align: center;}
.ent_img{width: 100%;height: auto;margin-bottom: 10px;}
.ent_img img{width: 100%;height: 420px;object-fit: cover;object-position: center;border-radius: 20px;}
.ent_div h5{font-size: 20px;font-weight: 700;line-height: 24px;color: #2E2F3B;margin-bottom: 30px;}
.ent_div a{text-decoration: none;color: #fff;font-weight: 700;font-size: 20px;line-height: 24px;background: linear-gradient(180deg, #424061 0%, #2F2E3C 100%);border-radius: 40px;padding: 12px 20px;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}
.ent_div a:hover{background: linear-gradient(189.82deg, #FFD236 6.83%, #FF8F3D 92.26%);transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}

/* Upcoming-Contest-Page Start */
.voting_close_cotnainer{padding-bottom: 30px;}

.upcoming_img{margin: 10px 0;}
.upcoming_div img{width: 100%;height: 300px;object-fit: cover;object-position: center;border-radius: 20px;}

.submit_section{margin-bottom: 50px;}
.submit_container{padding: 30px;background: linear-gradient(160.93deg, #EFEEFB 13.8%, #B9B7CA 88.03%);border-radius: 20px;}

.enty_div h4{font-size: 30px;font-weight: 700;line-height: 37px;color: #323141;margin-bottom: 20px;}
.enty_div a{text-decoration: none;background: linear-gradient(180deg, #424061 0%, #2F2E3C 100%), #C4C4C4;border-radius: 30px;font-size: 26px;font-weight: 700;line-height: 32px;color: #fff;padding: 10px 30px;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}
.enty_div a:hover{background: linear-gradient(189.82deg, #FFD236 6.83%, #FF8F3D 92.26%);transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;}

.curnt_entr{width: 200px;float: right;text-align: right;}
.curnt_entr h3{font-size: 20px;font-weight: 700;line-height: 24px;color: #323141;}
.curnt_entr ul{margin: 0;}
.curnt_entr ul li{display: inline-block;}
.curnt_entr ul li h4{font-size: 30px;font-weight: 700;line-height: 37px;color: #323141;width: 40px;height: 40px;background-color: #fff;border-radius: 6px;text-align: center;}

.ent_cmpl_rw{text-align: center;}
.ent_cmpl_div{width: 140px;height: auto;display: inline-block;margin: 20px;}
.ent_cmpl_img img{height: 165px;}
.ent_cmpl_div h5{margin-bottom: 20px;}
.ent_cmpl_div a{padding: 12px 30px;}



